.backPanier{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
}
.panier{
    position: relative;
    width: 80vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, .7);;
}
.closePanier{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 900;
    font-size: 2rem;
}
.panier li{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.panier li span{
    padding: 0 .5rem;
}
.panier h3{
    margin: 3rem;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
}
.totalPanier{
    padding-right: 2rem;
}
.morePanier,.lessPanier{
    font-size: 1rem;
    font-weight: 900;
}
.morePanier:hover,.lessPanier:hover{
    cursor: pointer;
}